
.poloska{
  width:100%;
  height: 100%;
border: 1px solid white;
}

.motor{
  height: 500px;
  width: 900px;
 box-shadow: 0 0 15px 15px white inset;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.text{
  margin-left: 930px;
  margin-top: 55px;
}

.poloska1{
  width:100%;
  height: 100%;
border: 1px solid white;
margin-top: 40px;
}
